#leaderboard ul.user-services a,
#leaderboard ul.user-services a:visited {
	color: #4f6677;
}
a:hover {
	color: #0096bb;
}
div.content a:hover {
	border-color: #0096bb;
}
#header {
	background: #909597 url(/view/ncomms/images/journal_header.jpg) no-repeat left top;
	min-height: 120px;
}
#header div.logon,
#header div.logon a,
#constrain-header #header div.logon p.access a {
	color: #555f62;
}
#header div.logon a.logout,
#header div.logon a.login:hover {
	background: url(/view/ncomms/images/bg_logout.gif) no-repeat 0 50%;
}
#header div.logon a.login,
#header div.logon a.logout:hover {
	background: url(/view/ncomms/images/bg_login.gif) no-repeat 0 50%;
}
#header .header-tabs li a {
	background: #ced5d7 url(/view/ncomms/images/bg_tab.jpg) repeat-y right top;
	color: #000;
}
#header .header-tabs li a.active {
	background: #fff url(/view/ncomms/images/bg_tab_active.jpg) no-repeat 99% 1px;
	border-bottom: 1px solid #fff;
}
#leaderboard ul.user-services a.my-account {
	background-image: url(/view/images/grey/icon_account.gif);
}
#leaderboard ul.user-services a.submit-manuscript {
	background-image: url(/view/images/grey/icon_submit.gif);
}
#leaderboard ul.user-services a.register {
	background-image: url(/view/images/grey/icon_register.gif);
}
#leaderboard ul.user-services a.subscribe {
	background-image: url(/view/images/grey/icon_subscribe.gif);
}
#quick-nav {
	background: #adb3b9 url(/view/ncomms/images/bg_quick_nav.jpg) repeat-x 0 0 
}
#quick-nav ul {
	width: 140px;
}
#comments h2 {
	color: #387782;
}
body {
    line-height: 1.534em;
}
.most-emailed #content-list h2,
.most-downloaded #content-list h2,
.most-blogged #content-list h2 {
    font-size: 123.1%;
    margin-bottom: 0;
}
.most-emailed #content-list h2 a,
.most-downloaded #content-list h2 a,
.most-blogged #content-list h2 a {
    font-weight: normal;
}

.img-week a {
	font-weight: bold;
}

#section-nav ol {
    float: left;
    margin: 0;
    width: 211px;
    padding-left: 0;
}
#section-nav ol li,
#archive li {
	list-style: none outside none;
}
#section-nav ol li a {
	font-weight: bold;
}
#main-navigation {
	display: block;
}
body.ie7 #main-navigation {
	left: 0;
}
#header div.logon p.user-actions a.cart {
	background-image: url(/view/ncomms/images/shop_cart.png);
}
#header form.search-form {
	background: none transparent;
	font-size: 100%;
	padding: 6px 0;
	top: -130px;
}
#header form.search-form fieldset.search-advanced a {
	color: #333333;
}
#header form.search-form fieldset.search-advanced {
	margin: 0;
}
#header form.search-form button#header-search-submit,
#header form.search-form input.txt {
	border: 1px solid #999988;
}
#header form.search-form button#header-search-submit {
	margin: 0 5px 0 2px;
	padding: 0 4px;
}
body #header div.logon p span,
body #header div.logon p.access a:hover span,
body #header div.logon p.access a.show span {
	background: transparent; /* others */
	background: -webkit-gradient(linear, left top, right top, color-stop(0,rgba(255,255,255,0.7)), color-stop(450px,rgba(255,255,255,0.7)), color-stop(600px,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.7) 450px, rgba(255,255,255,0) 600px) no-repeat fixed; /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(left, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.7) 450px, rgba(255,255,255,0) 600px) no-repeat fixed; /* FF3.6+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.7) 450px, rgba(255,255,255,0) 600px) no-repeat fixed; /* Opera 11.10+ */
	background: linear-gradient(to right, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.7) 450px, rgba(255,255,255,0) 600px) no-repeat fixed; /* W3C */
}

.home #extranav h1 {
	font-family: 'Arial', san-serif;
	font-weight: normal;
	text-transform: none;
}